name: Build and Publish Snap

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: Install Dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y build-essential cmake libopencv-dev libtbb-dev libomp-dev

    - name: Configure and Build Tests
      run: |
        cmake . -DCMAKE_CXX_STANDARD=23 -DENABLE_CUDA=OFF
        make -j2

    - name: Build Snap
      uses: snapcore/action-build@v1
      id: build

    - name: Publish Snap
      uses: snapcore/action-publish@v1
      env:
        SNAPCRAFT_STORE_CREDENTIALS: ${{ secrets.SNAPCRAFT_STORE_CREDENTIALS }}
      with:
        snap: ${{ steps.build.outputs.snap }}
        release: edge